/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root{
    --colorNegro: #2A2D34;
    --colorBlanco: #f4f4f4;
    --colorPrimario: #F26430;
    --fuente: 'Lato', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: var(--colorBlanco);
}
h1{
    font-size: 4rem; 
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.6rem;
}
h4{
    font-size: 2rem;
}

